# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

.cache/
.DS_Store
.local/
.vitepress/cache/
.vitepress/dist/
*.log
build/
dist/
node_modules/
site/
tmp/
x/
