# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

build/
.cache/
.DS_Store
.local/
node_modules/
/site/
/tmp/
.vitepress/cache/
.vitepress/dist/
x/
